@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    align-self: flex-start;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    transform: scale(1) rotate(0deg);
    transition: transform 0.3s ease, 
                background-color 0.3s ease;
}

.skillImageContainer:hover {
    background-color: var(--color-primary);
    transform: scale(1.05) rotate(3deg);      /* Grows and rotates on hover */
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
}

.companyItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 17px;
}

.historyItem img {
    width: 75px;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.textContainer li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 0; /* Resets the left margin */
    padding-left: 0; /* Resets the left padding */
    list-style-position: inside; /* Adjusts the bullet points */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotateImage {
    animation: rotate 10s linear infinite;
    align-self: center;
}

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width: 100%;
        gap: 9px;
    }

    .container {
        margin-left: 0%;
        margin-right: 0%;
    }

    .title {
        text-align: center;
    }
}